*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  max-width: 1000px;
  height: auto;
  background: linear-gradient(296.87deg, rgba(96, 74, 20, 0) -7.14%, rgba(173, 141, 92, 0.47) 76.73%);
  font-family: 'Forum';
  margin: 5rem auto;
  
}
.parent {

  margin-top: 10px ;
  display: flex;
  background: linear-gradient(80.57deg, rgba(96, 74, 20, 0) -6.58%, rgba(63, 36, 5, 0.671) 10.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.parent2 {
  margin-top: 10px ;
  display: flex;
  padding: 20px;
  justify-content: center;
  background-image: linear-gradient(80.57deg, rgba(96, 74, 20, 0) -6.58%, rgba(173, 141, 92, 0.47) 67.34%), url(assets/book2.jpg);
  height: 400px;
  align-items: center;

  
}
.parent-title {
  display: flex;
  align-items: center;  
  justify-content: center;
  background: linear-gradient(80.57deg, rgba(96, 74, 20, 0) -6.58%, rgba(64, 37, 6, 0.47) 10.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: calc(100 / 1440 * 150vw) 0 ;
}
hr {
  margin: 0;
  border: 1px solid;
  border-image: linear-gradient(80.57deg, rgba(96, 74, 20, 0) -6.58%, rgba(101, 71, 36, 0.47) 10.34%);
  border-image-slice: 1;

}

.child {
  margin: 0;
  
}

.child3 {

  width: calc(500 / 1440 * 100vw);
  align-self: center;
}

.child4 + .child4 {
  margin-left: 250px;
}
.child2 {
  /* font-size: 150px; */
  font-size: calc(120 / 1440 * 100vw);
  justify-content: center;
  align-items: center;
}
.child2small {
  /* font-size: 60px; */
  font-size: calc(60 / 1440 * 100vw);
}
.p1 {
  padding: 10px 10px 0 10px;
  font-size: calc(23 / 1440 * 100vw);
  /* font-size: 21px; */
  margin: 10px 10px 0 10px;

}
.p2{
  font-size: calc(23 / 1440 * 100vw);
  text-align: right;
  padding-right: 10px;
  background: linear-gradient(80.57deg, rgba(96, 74, 20, 0) -6.58%, rgba(54, 30, 2, 0.87) 10.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p3 {
  font-size: calc(20 / 1440 * 100vw);
  text-align: left;
  background: linear-gradient(80.57deg, rgba(96, 74, 20, 0) -6.58%, rgba(54, 30, 2, 0.87) 10.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  padding-left: 20px;
  margin: 0px;
  font-size: calc(45 / 1440 * 100vw);
}
h3 {
  padding-left: 20px;
  margin: 0;
  font-size: calc(30 / 1440 * 100vw);
}
.title {
  background: linear-gradient(80.57deg, rgba(96, 74, 20, 0.637) -0.58%, rgba(64, 37, 6, 0.47) 10.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@font-face {
  
  font-family: 'Forum';
  src: url('assets/Fonts/Forum.woff2') format('woff2'),
  url('assets/Fonts/Forum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.img2 {
  width: calc(500 / 1440 * 100vw);
  height: auto;
  margin: 0;
}
a {
  margin: 0;
}

.img1 {
  width: calc(500 / 1440 * 100vw);
}


  
  