a, a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

nav {
    font-size: 30px;

}

.nav-list {
    display: flex;
    margin: 20px 0;
    justify-content: center;
}
li {
    list-style-type: none;
}
.nav-list > li + li {
    margin-left: 20px;
}

header {
    border: 1px solid black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgb(223, 192, 156);

}

.grow-on-hover {
    transition: transform 0.2s ease-in-out 0.1s;
}

.grow-on-hover:hover {
    transform: scale(1.2);
    color: rgb(104, 50, 50);
    text-shadow: 1px 1px 2px rgb(179, 105, 105), 0 0 2em rgb(255, 255, 255);
    
}
