*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  
  font-family: 'Forum';
  src: url('assets/Fonts/Forum.woff2') format('woff2'),
  url('assets/Fonts/Forum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding-top: 90px;
  margin-top: 90px;
  height: auto;
  background: linear-gradient(296.87deg, rgba(96, 74, 20, 0) -7.14%, rgba(173, 141, 92, 0.47) 76.73%);
  font-family: 'Forum';
  margin: 0 auto;
}

img {
  width: 100%;
}

.img-2 {
  width: 50%;
  
}

.parent {
  margin-top: 50px;
  display: flex;
  text-align: center;

}
.child + .child {
  margin-left: 10px;
}